<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <form  [formGroup]="signupForm"  >
    <div class="wrapper__name form-control">
      <div class= "form-element wrapper__name__item">
        <ion-item >
          <ion-input formControlName ="firstName" type="text"  placeholder ='First Name' ></ion-input>
        </ion-item>
        <div class="form-element__message" *ngIf="(signupForm.get('firstName').touched &&  signupForm.get('firstName').errors?.required)" >
            <span >First Name is required</span>
        </div>
      </div>
      <div class= "form-element wrapper__name__item">
        <ion-item >
          <ion-input formControlName ="lastName"  type="text" placeholder ='Last Name'></ion-input>
        </ion-item>
        <div  class="form-element__message"
        *ngIf="(signupForm.get('lastName').touched &&  signupForm.get('lastName').errors?.required)" 
         >
            <span >Last Name is required</span>
        </div>
      </div>
     
    </div>
    <div class="form-element form-control">
      <ion-item >
        <ion-input formControlName = "street" type="text" placeholder='Street'></ion-input>
      </ion-item>
      <div class= "form-element__message"  *ngIf="(signupForm.get('street').touched &&  signupForm.get('street').errors?.required)"
      >
          <span >Street Name is required</span>
      </div>
    </div>
   
    <div class="wrapper__country form-control">
      <div class="wrapper__country__city form-element">
        <ion-item >
          <ion-input formControlName="city" type="text" placeholder ="City"></ion-input>
        </ion-item>
        <div class= "form-element__message"  *ngIf="(signupForm.get('city').touched &&  signupForm.get('city').errors?.required)"
        >
            <span >City Name is required</span>
        </div>
      </div>
     
      <div  class="form-element">
        <ion-item >
          <ion-select formControlName="state"  class='box'  placeholder='States'>
            <ion-select-option  class="wrapper__country__state" *ngFor="let state of states"  value="{{state.name}}">{{state.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div class= "form-element__message" *ngIf="(signupForm.get('state').touched &&  signupForm.get('state').errors?.required)"
        >
            <span >State is required</span>
          </div>
      </div>
     
    </div>
    <div class="form-element form-control">
      <ion-item >
        <ion-input formControlName="zipCode" required type="number" placeholder ="Zip code"></ion-input>
      </ion-item>
      <div class= "form-element__message" 
      *ngIf="(signupForm.get('zipCode').touched &&  signupForm.get('zipCode').errors?.required)"
      >
          <span >Zip code is required</span>
      </div>
    </div>
    <div class="form-element form-control">
      <ion-item >
        <ion-input formControlName="email" type="text" placeholder='Email'></ion-input>
      </ion-item>
      <div class= "form-element__message" 
      *ngIf="(signupForm.get('email').touched &&  signupForm.get('email').errors?.email)"
      >
          <span >Value has to be a valid email address.</span>
      </div>
      <div class= "form-element__message"
      *ngIf="(signupForm.get('email').touched &&  signupForm.get('email').errors?.required)"
      >
      <span>Email is required</span>
      </div>
    </div>
   <div class="form-element form-control">
    <ion-item >
      <ion-input formControlName="phone" 
      appPhoneMask
      type="text" placeholder='Mobile Phone' 
      ></ion-input>
    </ion-item>
    <div class= "form-element__message" 
    *ngIf="(signupForm.get('phone').touched &&  signupForm.get('phone').errors?.required)"
    >
        <span >Phone is required</span>
    </div>
   </div>
   
    <ion-item class="wrapper__street form-control">
      <ion-checkbox formControlName="insurance"></ion-checkbox>
      <ion-label  class="border">I would like to request a quote for flood insurance.</ion-label>
    </ion-item>
    <div class="wrapper__street form-control form-element">
      <ion-item >
        <ion-checkbox formControlName="iAgree"></ion-checkbox>
        <ion-label class="border">I agree to the <a href="">Terms of Service</a>.</ion-label>
      </ion-item>
      <div class= "form-element__message"
      *ngIf="(signupForm.get('iAgree').touched &&  signupForm.get('iAgree').errors?.required)"
       >
          <span >This checkbox is required</span>
      </div>
    </div>
    <div class="btn" >
      <ion-button 
      (click) ="logForm()"   
      type='submit'   
      color= 'primary' 
      >SUBMIT</ion-button> 
      <ion-button  
      fill='clear'  
      color="secondary"
      >EXIT</ion-button>
    </div>

  </form>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
