.wrapper{
    &__name{
        display: flex;
        justify-content: space-between;
        &__item{
            width: calc(50% - 10px);
        }
    }
    &__country {
        width: 100%;
        display: flex;
        &__city {
            width: 70%;
        }
        &__state {
            width: 30%;
        }
    }
}
.border {
    padding-left: 10px;
}
.btn {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.form-element{
    display: flex;
    flex-direction: column;
    &__message {
        padding-left: 20px;
        color: red;
        font-size: 12px;
    }
}
.box {  
    max-width: 100% !important;
}
.form-control {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}