<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Forgot Password?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-content class="wrapper" [fullscreen]="true" >
    <form   class="form-control" [formGroup]="forgotPasswordForm"  >
        <div class= "form-element form-control__email padding">
            <ion-input class ="form-control__email__input" formControlName ="email" type="text"  placeholder ='Email' >
            </ion-input>
        </div>
        <div class= "form-element__message" 
        *ngIf="(forgotPasswordForm.get('email').touched &&  forgotPasswordForm.get('email').errors?.email)"
        >
            <span >Value has to be a valid email address.</span>
        </div>
        <div class= "form-element__message"
        *ngIf="(forgotPasswordForm.get('email').touched &&  forgotPasswordForm.get('email').errors?.required)"
        >
        <span>Email is required</span>
        </div>
      <ion-button 
      class="btn"
      type='submit'   
      color= 'primary' 
      >Send email</ion-button>  
    </form>
  </ion-content>
</ion-content>
